<h2>Lista de Clientes</h2>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.numero_telefono || 'No especificado' }}</td>
        <td>
          <button (click)="eliminarCliente(cliente.id)" class="btn-eliminar">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
